.container{
    max-width: 960px;
    margin: 0 auto;
}

.cont_position{
    text-align: center;
    color: #fff;
}

.block_text{
    margin: 50% 0 0 0;
}

body::before {
    content: '';
    font-family: 'Lato', sans-serif;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: url(../img/zoomby.jpg) left / cover no-repeat;
    transition: 0.3s;
}

.a_btn {
    color: #fff;
    margin: 30px;
    display: inline-block;
    font-size: 32px;
}