.container {
    max-width: 960px;
    margin: 0 auto;
}

.cont_position {
    text-align: center;
    margin: 0 20px 0 20px;
}

.block_text {
    margin: 20% 0 0 0;
}

body, a {
    color: #fff;
}

body::before {
    content: '';
    font-family: 'Lato', sans-serif;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(../img/zoomby.jpg), linear-gradient(45deg, #ff0000, #3bff00);
    transition: 0.3s;
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-position: top;
}

.color-number {
    color: #ff0061;
    background-color: #00000069;
    padding: 0 6px 0 6px;
    position: relative;
}

.h1 {
    color: red;
    text-align: center;
    margin: 40px 0 40px 0;
    text-shadow: 1px 1px 1px #fff;
}

.fa-arrow-up {
    font-size: 44px;
    color: #ff0061;
}

.fa-arrow-down {
    font-size: 44px;
    color: #00ea09;
}

.fa-arrow-right {
    font-size: 44px;
    color: #fff;
}

#result {
    margin: 0 20px 0 20px;
}

.pos {
    display: flex;
    justify-content: center;
}

.i-fa-speed {
    animation: blink 1000ms reverse infinite;
    position: inherit;
}

/*@keyframes blink {*/
/*    from {*/
/*        opacity: 0.5;*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

@keyframes blink {
    from {
        top: -5px;
        opacity: 1;
    }
    to {
        top: 10px;
        opacity: 0;
    }
}

#result_top {
    margin: 200px 0 0 0;
}

#result_top img {
    width: 45px;
}

/*video*/
.a_btn {
    margin: 30px;
    display: inline-block;
    font-size: 32px;
}

.cont {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.background_share {
    display: none;
}

.frame_youtube {
    margin: 30px 0 0 0;
}

.resBlock {
    margin: 30px 0 0 0;
    font-size: 30px;
}

.overlay {
    width: 100%;
    height: 100%;
    display: block;
    filter: opacity(0.7);
}

#nubexDiv {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
    z-index: -1;
}

#nubexVideo {
    top: 0;
    left: 0;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}
/*/video*/

@media (max-width: 768px) {
    #nubexVideo {
        left: -400px;
    }
}